{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro LENS</title>
    <!-- Icon Browser -->
    <link rel="shortcut icon" href="{% static 'images/cons.svg' %}" type="image/x-icon">
    <!-- File Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body id="body">
    <div class="container-page">
      <!-- Side Bar -->
      <div class="container-icon-hamburger">
        <div id="icon-hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <aside id="main-aside" class="main-aside">
        <header class="header-aside">
          <a href="{% url 'main-view' %}" id="logo"><img src="{% static 'images/ProLens.svg' %}" alt="Logo"></a>
          <nav class="navigation">
            <ul class="un-list">
              <li class="item-nav"><a href="#" class="link-nav">Cat</a></li>
              <li class="item-nav"><a href="#" class="link-nav">Lens</a></li>
              <li class="item-nav"><a href="{% url 'about' %}" class="link-nav">About</a></li>
            </ul>
          </nav>
          <div class="social-media">
            <a href="https://www.facebook.com/dmmaqal/" target="_blank" class="link-social-media"><svg width="24" height="24" id="facebook" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path style="fill: #9e9e9e;" d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z" fill="currentColor"/></svg></a>
            <a href="https://unsplash.com/" target="_blank" class="link-social-media"><svg width="24" height="24" id="unsplash" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path style="fill: #9e9e9e;" d="M15 4.5H9V8.5H15V4.5Z" fill="currentColor"/><path style="fill: #9e9e9e;" d="M4 10.5H9V14.5H15V10.5H20V19.5H4V10.5Z" fill="currentColor"/></svg></a>
          </div>
        </header>
        <footer class="footer-aside">
          <p>&copy; All Right Recevd Pro LENS</p>
        </footer>
      </aside>
      <!-- Mian Content -->
      <main class="main-content">
        <div class="container-inner">
          {% block content %}
          {% endblock content %}
        </div>
      </main>
    </div>
    {% comment %} {% csrf_token %} {% endcomment %}
    <!-- File Script -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- <script src="{% static 'js/packery.pkgd.min.js' %}"></script> -->
    {% comment %} <script src="{% static 'js/inview.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/main.js' %}"></script>
    <script>

    </script>
  </body>
</html>